<!-- index.html -->
<!DOCTYPE html>
<html lang = "en-us" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8" />
        <title>Terms Application- Source Submitted</title>
        <!-- <link rel="stylesheet" type="text/css" href="src/main/resources/static/index.css" /> -->
    </head>

    <body>

        <div>
            Source Submitted
        </div>

        <div>
            <!-- <p th:text="${obj.getAuthorFirstName()}" ></p> -->
            <!-- <p th:text="${obj.getAuthorLastName()}" ></p> -->
            <!-- <p th:text="${obj.getTitleOfSource()}" ></p> -->
        </div>

    </body>

</html>